body {
    margin: 0;
    padding: 20px;
    background: #8a6962;
    font-family: ArialBlack;
}

.foto-box {
    position: absolute;
    top: 75px;
    left: 200px;
}

.foto-box img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ffffff;
}

.wrapper{
  display:flex;
  align-items:center;
  gap:20px;
  max-width:800px;
  margin:40px auto;
}

.foto-profil{
  width:50px;
  height:50px;
  border-radius:50%;
  object-fit:cover;
  border:4px solid #ffffff;
  display:block;
  margin-left:200px;
  margin-top:20px;
}

.kotak-nama{
  color:white;
  padding:0 24px;
  border-radius:20px;
  height:100px;
  width:525px;
  display:flex;
  align-items:center;
  justify-content: center;
  margin-left:500px;
  margin-top:100px;

  background: linear-gradient(
    90deg,
    transparent 0%,
    #d9d9d9 30%,
    #d9d9d9 70%,
    transparent
  );
}

.kotak-nama h2{
  margin:0;
  font-size:50px;
  letter-spacing:1px;
  font-family:"arial",sans-serif;
  color:#064c13
}

.biodata-box {
    width: 700px;             
    border: 2px solid #333;    
    border-radius: 10px;       
    padding: 15px;             
    margin-top: 50px;          
    margin-left: 70px;      
    font-family:"arial",sans-serif;   
    background-color: #d4d1d1; 
}

.biodata-box h2 {
    margin-top: 0;
    font-size: 23px;
    text-align: center;
    font-family:"arial",sans-serif;
}

.biodata-table {
    width: 100%;
    font-size: 20px;
}

.biodata-table td {
    padding: 5px 0;
}

.riwayat-box {
    width: 700px;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 15px;
    margin-top: 30px;
    margin-left: 350px;
    font-family:"arial",sans-serif;
    background-color: #d4d1d1;
}

.riwayat-box h2 {
    margin-top: 0;
    font-size: 23px;
    text-align: center;
    font-family:"arial",sans-serif;
}

.riwayat-table {
    width: 100%;
    font-size: 20px;
}

.riwayat-table td {
    padding: 5px 0;
}

.kotak-satu {
    width: 600px;
    height: 300px;
    margin-top: -1100px;
    margin-left: -250px;
    background-color: #00370a;
    border: 3px solid #333;
    text-align: center;
    padding-top: 20px;
    transform: rotate(-22deg)
}

.kotak-dua {
    width: 600px;
    height: 300px;
    margin-top: -395px;
    margin-left: -180px;
    background-color: #2b7434;
    border: 3px solid #333;
    text-align: center;
    padding-top: 20px;
    transform: rotate(-22deg)
}

